.header {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    
}

.section2 {
    background-color: white;
    color: black;
}

.section1 {
    background-color: black;
    color: white;
}

.contact-info {
    text-align: center;
}

