.header {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    
}

.section2 {
    background-color: white;
    color: black;
}

.section1 {
    background-color: black;
    color: white;
}

.contact-info {
    text-align: center;
}

.heroContainer {
    background-image: url('images/restaurant.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}