.header {
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    
}

.section2 {
    background-color: white;
    color: black;
}

.section1 {
    background-color: black;
    color: white;
}

.contact-info {
    text-align: center;
}

.hero-container {
    background-image: url('images/restaurant.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 900px;
    width: 100%;
    
}

body {
    display: grid;
    /*grid-row: 1fr 4fr 60px 1fr 1fr 3fr*/;
    grid-template-rows: repeat(6,auto);
    grid-template-columns: 1fr;
    width: 100%;
}

.catering {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    grid-template-rows: repeat(3, 1fr);
    row-gap: 30px;
    column-gap: 25px;
    width: 100%;
    max-width: 100%;
    padding: 10px 10px;
}


.small-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    
    border: solid white 3px;

}

.textbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
    padding: 10px 10px;
    margin: 2px;
    
    
    
}
h1,h2, h3, p {
    margin: 9px;
}

h1 {
    font-size: 3rem;
}

h3 {
    font-size: 1rem;
}
p {
    font-size: .75rem;
}

button {
    background-color: transparent;
    color: white;
    border: 1px white solid;
    width: 100px;
    height: 20px;
    border-radius: 2px;
    margin: 20px;
}

.imageDiv {
    padding: 5px;
    
}

.reservation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
    word-wrap: break-word;
    text-align: center;
}

.reservation p {
    font-size: 1.1rem;
    width: 70%;
    margin: 0 auto;
}